
/*--------------------MAIN CONTAINER------------------------*/
.maincontainer{
	/*width: 1000px;*/
	height: 800px;
	max-width: 1000px;
	margin: auto;
	background-color:#e9e9e9;
}

/*IMAGE CONTAINER*/

#imgcontainer{
	border: 2px solid blue;
	height: 400px;
}


/*TEXT AREA*/
.textarea{
	border: 2px solid red;
	height: 300px;
}

.gametextcontainer{
	margin: 50px;
	height: 200px;
	border: 2px solid yellow;
}

.gametext{
	border: 2px solid orange;
	font-size: 24px;
	float: left;
	font-family: 'Arial'

}

/*BUTTON MENU*/


.menu {
	list-style-type: none;
	height: 90px;
	border: 3px solid #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}


.menubtn {
	padding: 10px;
	border-radius:10px;
	background-color: #fe9ec5;
	font-size: 24px;
	color: black;
}

#nameinput {
	border: 2px solid black;
	border-radius: 10px;
	height: 50px;
	font-size: 32px;
	color: #2c3e50;
	margin: 10px;
}


.spin-enter-active {
  animation: bounceIn 3s;
}

.spin-leave-active {
  animation: bounceIn 3s reverse;
}

@keyframes bounceIn {
  0%{
    transform: rotate(0deg);
    opacity: 0;
  }

  100%{
    transform: rotate(1080deg);
    opacity: 1;
  }
}
 /*------------OTHER---------------*/
