
/*--------------------MAIN CONTAINER------------------------*/
.maincontainer{
	width: 1000px;
	height: 800px;
	background-color:#e9e9e9;
}

/*---------------CONTROL BUTTONS-------------------*/

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}


.menubtn {
	padding: 30px;
	border-radius:10px;
	background-color: #fe9ec5;
	font-size: 24px;
	color: black;
}


/*ISSUE: vue pushes other elements down when octocat activated*/
.menu {
	list-style-type: none;
	height: 120px;
	/*margin changes margins of entire container*/
	border: 3px solid black;

}


.v-enter-active {
  animation: bounceIn .3s;
}

.v-leave-active {
  animation: bounceIn .3s reverse;
}

@keyframes bounceIn {
  0%{
    transform: scale(0);
    opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
