h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}


.menubtn {
	padding: 30px;
	border-radius:10px;
	background-color: #fe9ec5;
	font-size: 24px;
	color: black;
}

.v-enter-active {
  animation: bounceIn .3s;
}

.v-leave-active {
  animation: bounceIn .3s reverse;
}

@keyframes bounceIn {
  0%{
    transform: scale(0);
    opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
  }
}
